.arrow {
    border: solid #0891b2;
    border-width: 0 3px 3px 0;
    display: inline-block;
    /* background-color: ; */
    /* padding: 3px; */
    width: 8px;
    height: 8px;
    transition: transform .5s;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}